
.jumbotron {
	background: url('images/skyrim.jpg') no-repeat top center;
	height:100%;
}

.header1 {
	font-size: 60px;
	color: white;
	font-family: arial;
}

.container ul {
	font-size: 25px;
	color: #fff;
}

html,body {
	min-height: 100%;	
	height:100%;
	overflow:auto;
}

body {
	background:black;
}

.margin-right {
	margin-right: 8px;
}
